@font-face {
  font-family: 'Livvic';
  src: url('/fonts/Livvic/Livvic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Livvic-Bold';
  src: url('/fonts/Livvic/Livvic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Livvic-SemiBold';
  src: url('/fonts/Livvic/Livvic-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Livvic-Medium';
  src: url('/fonts/Livvic/Livvic-Medium.ttf') format('truetype');
}


@font-face {
  font-family: Belleza;
  src: url('./assets/fonts/Belleza/Belleza-Regular.ttf');
}

@font-face {
  font-family: Livvic;
  src: url('./assets/fonts/TextFonts.net_Livvic-serif-font/Livvic/Livvic.otf');
}

@font-face {
  font-family: Elliana_Samantha;
  src: url('./assets/fonts/elliana_samantha/Elliana_Samantha.otf');
}
@font-face {
  font-family: Quicksand !important;
  src: url('./assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

* {
  padding: 0;
  margin: 0;
  font-family: Livvic;
}

/* Minimalist scrollbar styling */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ccc transparent;
}

/* Add this to your global CSS or tailwind config */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}


/* Scrollbar styles for horizontal scroll */
.scrollbar-custom::-webkit-scrollbar {
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
}

.scrollbar-custom {
  scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
  scrollbar-width: thin;
}

.Livvic {
  font-family: 'Livvic', sans-serif !important;
}

.Livvic-Bold {
    font-family: 'Livvic-Bold', sans-serif !important;
}

.Livvic-SemiBold {
    font-family: 'Livvic-SemiBold', sans-serif !important;
}

.Livvic-Medium {
    font-family: 'Livvic-Medium', sans-serif !important;
}

.clip-bottom-curve {
  clip-path: ellipse(100% 15% at 50% 100%);
}



::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scroll) */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Lighter color for the track */
  border-radius: 10px; /* Rounded edges */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #a6a8a8; /* Color of the thumb */
  border-radius: 10px; /* Rounded edges */
  border: 2px solid #f1f1f1; /* Padding around thumb */
}

/* styles.css */

/* global.css or App.css */
.ant-input::placeholder {
  font-family: 'Livvic-Medium', sans-serif !important;
  color: #777777 !important;
}

input::placeholder{
  color: #777777 !important;
}

.ant-input {
   font-family: 'Livvic-Medium', sans-serif !important;
}

.pagination-custom .ant-pagination-item {
  background: transparent;
  color: black !important;
  border: 1px solid #f0f1f3; /* Remove border */
}

.pagination-custom .ant-pagination-item-active {
  background: #38aee3; /* Active background color */
  color: white !important; /* Active text color */
  border: none; /* Remove border */
}

.pagination-custom .ant-pagination-item-active span {
  color: white !important; /* Ensure active text color */
}
.sh {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25) !important;
}

.ant-select {
  padding: "1.8rem 0.75rem";
}

.sec1-pic {
  width: 540px;
}

.Livvic {
  font-family: Livvic;
}

.Elliana-Samantha {
  font-family: Elliana_Samantha;
}
.Quicksand {
  font-size: Quicksand;
}

.nav-height {
  height: 80px;
}

.home-sec1 {
  background-image: url('./assets/images/img1.png');
  width: 100%;
  height: 676px;
  background-repeat: no-repeat;
  background-size: cover;
  /* Ensures the image still covers the background */
  background-position: center;
}

.home-sec1-head {
  font-size: 56px;
}

.parent-container {
  position: absolute;
  bottom: 10px;
  /* Ensure parent has a set height */
}

.home-sec2 {
  width: 900px;
}

.offer-font {
  font-size: 40px;
}

.tab {
  width: 476px;
}

.slider {
  width: 915px;
}

.line1-20 {
  line-height: 20px !important;
}

/* Add this to your CSS file or inside a <style> tag */
.custom-dot .carousel-control-prev,
.custom-dot .carousel-control-next {
  display: none !important;
}

/* Style for all dots */
.custom-dot button {
  background-color: #d9d9d9;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.search-desktop {
  display: block;
}

.wave-container {
  display: flex;
  align-items: center;
}

.wave {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  border-radius: 50%;
  background-color: #38aee3;
  animation: pulse 1.5s infinite ease-in-out;
}

.wave:nth-child(1) {
  animation-delay: 0s;
}

.wave:nth-child(2) {
  animation-delay: 0.3s;
}

.wave:nth-child(3) {
  animation-delay: 0.6s;
}



@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.sender-audio-player audio::-webkit-media-controls-panel {
  background-color: #38AEE3; /* Light blue controls */
  border-radius: 2px; /* Rounded controls */
}
.sender-audio-player audio::-webkit-media-controls-play-button{
  background-color: #DCE6FF;
  border-radius: 100px;
}

audio::-webkit-media-controls-panel {
  background-color: #DCE6FF;
}
audio::-webkit-media-controls-play-button{
  background-color: #38AEE3;
  border-radius: 100px;
}

/* Style for the active dot */
.custom-dot button[aria-current='true'] {
  width: 16px;
  height: 16px;
  background-color: #fdb913;
}

.car-img {
  width: 200px;
  height: 200px;
}

.car-font {
  font-size: 18px;
}

.car-name {
  font-size: 32px;
}

.car-rel {
  font-size: 16px;
}

.home-sec3 {
  width: 661px;
}

.family-font {
  font-size: 40px;
}

.custom-dot button[aria-current='true'] {
  width: 16px;
  height: 16px;
  background-color: #fdb913;
  /* Optional: Change color for the active dot */
}

.input-footer {
  border: none;
  border-radius: 0px !important;
  background-color: #38aee380 !important;
  font-size: 16px;
  padding: 12px 10px;
}

.input-footer:hover {
  background-color: #38aee380 !important;
}

.padd-res {
  padding: 0 104px;
}
.padd-card {
  padding: 0 60px;
}

.sec1-head {
  font-size: 56px;
  text-transform: uppercase;
  line-height: 60px;
}

.sec1-pre-head {
  font-size: 32px;
  margin: 20px 0;
}

.famil-sec3 {
  display: flex;
}

.add-width {
  width: 838px;
}

.acc {
  width: 780px;
}

.margin-top {
  margin-top: 36px !important;
}

.main-step {
  width: 480px;
  border: 1px solid #ebebeb;
  padding: 20px;
}

.main-font-step {
  font-size: 24px;
}

.step-work {
  object-fit: contain;
}

.border-radius-share,
.border-res-share {
  width: 320px;
  padding: 0 18px;
}

.border-res-share {
  border-right: 1px solid #e4e4e4;
}

.width-card-share {
  width: 400px;
}

.res-dis {
  display: none;
}

.input-width, .width-b {
  width: 400px !important;
}

.width-b{
  height: 50px !important;
}
.width-dob {
  width: 125px !important;
  height: 50px;
  margin-top: 2px;
}
.width-dob .ant-select-selector {
  border-radius: 16px !important;
  border: 0px solid #3498db !important; /* Full rounding */
}
.custom-select .ant-select-selector {
  width: 400px !important; /* Increased width */
  height: 50px !important; /* Set a consistent height */
  border-radius: 20px; /* Rounded corners */
  padding: 0px 15px !important; /* Padding */
  border: none !important; /* Custom border */
  display: flex !important; /* Use flexbox */
  align-items: center !important; /* Center vertically */
}

.custom-select1 {
  outline: none !important;
  height: 40px !important;
  border-radius: 20px; /* Rounded corners */
  padding: 0px 15px !important; /* Padding */
  border: 1px solid #d6ddeb !important; /* Custom border */
}
.custom-select1 .ant-select-selector {
  border: none !important; /* Custom border */
  outline-color: transparent !important;
  box-shadow: none !important; 
}
/* Style the dropdown items */
.custom-dropdown .ant-select-item-option {
  display: flex !important; /* Use flexbox for dropdown items */
  align-items: center !important; /* Center vertically */
  justify-content: center !important; /* Center horizontally */
  padding: 10px !important; /* Padding */
  height: 50px !important; /* Set consistent height for dropdown items */
}

/* Optional: Style for the dropdown itself if needed */
.custom-dropdown .ant-select-dropdown {
  min-width: 100px !important; /* Ensure the dropdown matches the select width */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  color: black !important;
  font-style: Belleza !important;
}

.date-picker {
  width: 188px;
  border: none;
  background-color: white !important;
  padding: 15px 10px;
  border-radius: 24px !important;
}
.date-picker1 {
  border: 1px solid #d6ddeb;
  background-color: white !important;
  padding: 5px 10px;
  border-radius: 24px !important;
}
.no-resize {
  resize: none !important;
}
.width-form {
  width: 950px;
  line-height: 40px;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #d6ddeb !important;
}
.input-text {
  max-width: 367px;
}
.padding-navbar1 {
  padding: 0 56px;
}
.filter-width {
  width: 392px !important;
  min-height: 470px;
}
.position-profile-card{
  position: absolute !important;
  bottom: 0;
  margin-bottom: 16px;
}

.fre-family {
  background-image: url('assets/images/frebg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.width-div {
  width: 72%;
  text-transform: justify;
}
.width-2div {
  width: 25%;
}
.dropdown-width {
  width: 300px !important;
  border-radius: 50px !important;
}
.edit-padding {
  padding: 40px;
}
.padding-sub {
  padding: 0px 64px;
}
.custom-checkbox-group .ant-checkbox-wrapper {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: Quicksand !important; /* Adjust margin for each checkbox */
}
.width-modal-input {
  width: 420px !important;
}
.width-modal-input1 {
  width: 272px;
}
.form-payment-width {
  width: 570px;
}
.width-header-booking {
  width: 252px;
}
.text-header-booking {
  font-size: 24px;
}
.content-name {
  font-size: 24px;
}
.content-img {
  width: 80px !important;
  height: 80px !important;
}
.btn-content-btn {
  width: 120px;
}
.btn-content-btn1 {
  width: 248px;
}
.content-flex {
  display: flex;
}
.padding-content {
  padding: 24px;
}
.reponsive {
  display: none;
}
.padding-res-40 {
  padding: 0 40px 40px 40px !important;
}
.text-header-comm {
  font-size: 18px;
}
.card-comm {
  width: 492px;
}
.swiper-text {
  font-size: 24px;
}
.img-main {
  background-image: url('./assets/images/worksBack.png');
  background-repeat: no-repeat;
}
.img-main1 {
  background-image: url('./assets/images/comBg.png');
  background-repeat: no-repeat;
  background-size: fill; /* Ensures full image is visible *
  background-position: center;/* Adjust as needed */
}

.dashboard-width {
  width: 900px !important;
}
.width-cat-com {
  width: 600px !important;
}
.width-cat-com1 {
  width: 600px !important;
}
.text-post-right {
  text-align: right;
}
.profile-img {
  width: 80px;
  height: 80px;
}
.margin-reponsive-admin {
  margin-left: 240px;
}
.display-none-admin {
  display: none;
}
.display-none-admin1 {
  display: block !important;
}
.width-auto-admin {
  width: 180px;
  object-fit: contain;
  justify-items: center;
}
.border-radius-navbar {
  border-radius: 210px !important;
}
.schdule-Border {
  border-right: 1px solid #deebeb;
}
.custom-button,
.custom-cancel-button {
  border-radius: 100px !important;
  width: 100px;
  padding: 0px;
}
.custom-cancel-button {
  border: 1px solid red;
  color: red;
}
.custom-popup {
  font-weight: 700;
  line-height: 40px;
  font-family: Quicksand;
}
.custom-image {
  width: 100px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.bg-steps{
  background: linear-gradient(90deg, #FFF1F5 0%, #9EDCE1 100%) !important;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1024px) {
  .home-sec1 {
    height: auto;
    /* Adjusts height for smaller screens */
  }
  .width-dob .ant-select {
    width: 100% !important;
  }
  
  .width-dob  .ant-select-selector {
    width: 100% !important;
  }
  .schdule-Border {
    border: none;
  }
  .display-none-admin {
    display: block;
  }
  .width-auto-admin {
    display: none !important;
  }
  .responsive-nav-admin {
    justify-items: end !important;
    margin-right: 12px;
  }
  .display-none-admin1 {
    display: none !important;
  }
  .margin-reponsive-admin {
    margin-left: 0px;
  }
  .text-post-right {
    text-align: start;
  }
  .profile-img {
    width: 40px;
    height: 40px;
  }
  .text-header-comm {
    font-size: 10px;
  }
  .swiper-text {
    font-size: 14px;
    line-height: 16px !important;
  }
  .width-cat-com1 {
    width: 250px !important;
    font-size: 12px !important;
    line-height: 10px !important;
  }
  .font-page1 {
    font-size: 12px !important;
  }

  .padding-content {
    padding: 10px;
  }
  .content-flex {
    display: block;
  }
  .btn-content-btn {
    width: 48px;
    font-size: 8px !important;
  }
  .btn-content-btn1 {
    width: 102px;
    font-size: 8px !important;
  }
  .content-img {
    width: 40px !important;
    height: 40px !important;
  }
  .content-name {
    font-size: 12px;
  }
  .content-font {
    font-size: 8px;
  }
  .fre-family {
    background-image: none;
  }
  .edit-padding,
  .padding-sub {
    padding: 10px !important;
  }
  .text-16-12 {
    font-size: 8px;
  }

  .nav-res-mt {
    margin-top: 10px !important;
  }

  .nav-height {
    height: 60px;
  }

  .res-dis {
    display: block;
  }
  .margin-2 {
    margin-bottom: 20px !important;
  }
  .img-navbar1 {
    width: 100px !important;
  }
  .padding-navbar1 {
    padding: 0 6px !important;
  }
  .margin-4-res {
    margin-top: 16px;
  }

  .disp-none {
    display: none;
  }

  .border-radius-share,
  .border-res-share {
    width: auto;
    padding: 0;
  }
  .padding-res-40 {
    padding: 0 10px 40px 10px !important ;
  }
  .border-res-share {
    border: none;
  }

  .step-work {
    width: 500px;
  }

  .input-width, .width-b,
  .custom-select .ant-select-selector {
    width: 90vw !important;
  }
  .text-header-booking {
    font-size: 10px;
  }

  .home-sec2,
  .home-sec3,
  .add-width,
  .acc,
  .width-card-share,
  .date-picker,
  .date-picker1,
  .width-form,
  .input-text,
  .width-div,
  .width-2div,
  .dropdown-width,
  .width-modal-input,
  .form-payment-width,
  .width-header-booking,
  .card-comm,
  .dashboard-width,
  .width-cat-com,
  .width-auto-admin {
    width: 100% !important;
    height: auto;
  }
  
  .filter-width{
    width: 100% !important;
  }
  /* .position-profile-card{
    position: relative !important;
    margin: 0;
  } */
  .parent-container {
    position: static;
    width: 30px !important;
    object-fit: contain;
  }

  .offer-font {
    font-size: 29px;
  }

  .tab {
    width: auto;
    padding: 0 12px;
  }
  .flex-re {
    flex-direction: column-reverse;
  }
  .slider {
    width: 100%;
  }

  .car-img {
    width: 50px;
    height: 50px;
  }

  .car-font {
    font-size: 12px;
    line-height: 0.9rem !important;
    text-transform: justify;
  }

  .car-name {
    font-size: 12px;
  }

  .car-rel {
    font-size: 10px;
  }

  .padd-media-12 {
    padding: 0 12px;
  }

  .family-font {
    font-size: 22px;
  }

  .home-sec1-head {
    font-size: 30px;
    line-height: 30px;
    padding: 12px 0;
  }

  .padd-res,
  .padd-card {
    padding: 0 6px;
  }

  .sec1-pic {
    width: 180px;
    object-fit: fill;
  }

  .sec1-head {
    font-size: 20px;
    line-height: 20px;
  }

  .sec1-pre-head {
    font-size: 14px;
    margin: 12px 0 0 0;
  }

  .already-acc {
    font-size: 12px !important;
  }

  .margin-btn-acc {
    margin: 25px 0 0 0 !important;
  }

  .famil-sec3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .reponsive {
    display: block;
  }
}


